.invisibleP{
    display:none;
} 

.formbar{
    position:relative;
    left:10%;
}


.water{
    position:relative;
    height:10%;
    width:100%;
    overflow: hidden;

}
.water1{
    width:100%;
    height:100%;
    animation: water1 11s infinite linear;
    position:absolute;
    border-radius:5px;

}
.water2 {

    position:absolute;
    width:100%;
    height:100%;
    animation: water2 10s infinite linear;
    border-radius:5px;

}
.water3 {
    /* position:absolute; */
    position:absolute;

    width:100%;
    height:100%;
    animation: water1 8s infinite linear;
    border-radius:5px;

}
.water4 {
    /* position:absolute; */
    position:absolute;

    width:100%;
    height:100%;
    animation: water2 10s infinite linear;
    border-radius:5px;

}


@keyframes water1{
    0%{left:-100%}
    100%{left:100%}
    
}
@keyframes water2{
    0%{right:-100%}
    100%{right:100%}
}
.waterArea{
    height:50%;
    width:80%;
    border-radius:20px;
    border: 3px solid lightskyblue;
    margin:auto;
    background-color: rgb(16, 16, 80);
    overflow: hidden;

}

.waterpiece{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size:large;
    font-weight: bolder;
}

.watertext{
    width:90%;
    animation:expandText .3s both;
    transform-origin:center;
}

@keyframes expandText{
     0%{transform: scaleY(0);}
     100%{transform: scaleY(1);}
}

.letterBlock{
    position: absolute;
    width:20px;
    height:20px;
    background-color: white;
    border-radius:5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.backgroundWater{
    position:fixed;
    height:100%;
    width:100%;
    
}

body{
    overflow: hidden;
}

.fishArea{
    height:40%;
    width:80%;
    border-radius:20px;
    border: 3px solid lightskyblue;
    margin:auto;
    margin-top:2%;
    margin-bottom:2%;
    text-align: center;
    
}

.newsTitle{
    font-size:100%; 
    display:flex;
    width:80%;
    padding:2%;
    height:15%;
    font-weight:bolder;
    animation:titleRveal .5s both;
    text-align: center;
    margin:auto;
    animation:newsTitle .5s both;

}
@keyframes newsTitle{
    0%{width:1%;background-color: black;}
    80%{width:80%;background-color:black }
    100%{width:80%;background-color:'' }
}

.newsPic{
    max-width:30%;
    border-radius: 10px;
    padding:2%;
    float: left;
    animation:newspic .5s both;
}
@keyframes newspic{
    0%{width:1%;}
    100%{width:80%; }
}

p{
    /* float: left; */
    text-align: left ;
}

.newsBody{
    width:80%;
    padding:2%;
    height:70%;
    overflow: scroll;
    border:orange 2px solid;
    margin:auto;
    margin-top:1%;  
    animation: newsbody .5s both;
    border-radius:10px
}
@keyframes newsbody{
    0%{height:1%;}
    100%{height:70%;}
}
.newsBody::-webkit-scrollbar {
    display: none;
  }

.link {
    margin:auto;
}


